.navigation
{
    background: #1b3e85;
    text-align: center;
}
.navigation-link
{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    vertical-align: middle;
}
.green-button
{
    padding: 10px 15px;
    background: #00b5ad;
    border-radius: 5px;
}
.navigation-image
{
    height: 40px;
}
.slogan
{
    background: url("https://ibatech.az/wp-content/uploads/2019/10/banner.jpg") no-repeat;
    background-size: cover;
    padding: 300px 0px 100px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.slogan-btn
{
    display: inline-block;
    text-decoration: none;
}
*
{
    margin: 0px;
    padding: 0px;
}

